<!-- Header -->
<app-header></app-header>

<!-- Main Body -->
<div class="grid grid-cols-1 gap-4 pb-4 md:grid-cols-3">
  <!-- Income, Expense, Savings Cards -->
  <div class="flex flex-col gap-4 md:col-span-2">
    @for (category of spendingCategories; track category.expense.name) {
      <app-category-card
        [category]="category"
        [allCategoryNames]="allCategoryNames"
        (reassignTransaction)="handleReassign($event)"
      ></app-category-card>
    }
  </div>

  <!-- Summary Card -->
  <div class="h-full min-h-0">
    <app-summary-card></app-summary-card>
  </div>
</div>
